.wrap {
    text-align: center;
}

.forum_contents {
    display: inline-block;
    vertical-align: middle;
    margin-top: 100px;
}

.cs_area {
    padding: 80px 0;
}

#wrap {
    max-width: 1280px;
}

.cs_viewhead {
    background-color: #343538;
    border: 0px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.title {
    font-size: 27px;
    line-height: 45px;
    word-wrap: normal;
    word-break: keep-all;
}

.cs_view_vote {
    font-size: 16px;
    font-weight: 550;
    line-height: 24px;
}

.cs_writer {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 14px;
    font-weight: 500;
}

.text {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 80px;
}

.btn_hand {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 140px;
    margin: 0 35px;
}

.hand {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    padding-top: 110px;
    font-size: 22px;
    line-height: 30px;
    cursor: pointer;
    background-color: #fff;
    border: none;
}

.hand::before {
    content: "";
    width: 46px;
    height: 46px;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 53px;
    background-image: url(../image/forum_content/icon_like.png);
    background-size: 200% auto;
    background-repeat: no-repeat;
    transition: 2s;
    background-position: right top;
}

.hand::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 100px;
    top: 0;
    left: 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.count {
    position: absolute;
    top: 65px;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    font-size: 18px;
}

.up {
    color: #072f6f;
}

.down {
    color: #e60012;
}

.social_page {
    border-bottom: 1px solid #dedede;
    margin: 30px 0 0 50px;

}

.social_page span {
    display: inline-block;
    margin-right: 30px;
    line-height: 30px;
    color: #444;
}

.social_page ul {
    float: right;
}

.social_page li {
    float: left;
    text-align: center;
    margin-left: 10px;
}

.co_write {
    display: block;
    position: relative;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px 30px;
    box-sizing: border-box;
}

.cw_wrap {
    margin-right: 115px;
    position: relative;
}

.comment_add {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 20px;
    right: 30px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
}

.btn {
    position: absolute;
    width: 125px;
    height: 68px;
    top: 20px;
    right: 30px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #072f6f;
    color: #fff;
}

textarea {
    width: 100%;
    min-height: 100px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 530;
    padding: 2px;
}

.co_wrap > ul {
    margin-left: 30px;
}

.co_view {
    position: relative;
    border: 1px solid #ddd;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: left;
    color: #8a8a8a;
}

.co_text {
    margin-top: 10px;
    width: 80%;
}

.co_number {
    margin: 10px 0;
    overflow: hidden;
}

.co_number li {
    position: relative;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}

.re_re {
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    padding: 3px 5px;
    color: #8a8aa5;
    font-size: 15px;
    letter-spacing: -1px;
}

.re_gb {
    border: none;
    background-color: #fff;
    color: #8a8aa5;
    font-size: 15px;
}

.co_reply {
    margin-left: 30px;
}

.btn_more {
    padding: 20px 30px;
    text-align: left;
}

.getlist {
    background: #072f6f;
    color: #FFFFFF;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
