.container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.header {
    height: 500px;
    background-image: url(../image/best_forum_header.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.head_text {
    display: inline-block;
    position: absolute;
    text-align: left;
    bottom: 350px;
    left: 200px;
    color: #fff;
    font-size: 50px;
}

.contents_tab {
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 1px solid #7f7f7f;
}

.contents_tab_li {
    display: grid;
    color: #8e8e8e;
    font-weight: 700;
    height: 55px;
    align-items: center;
}


.contents_tab a {
    width: 100%;
    height: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #8e8e8e;
    text-align: center;
    text-decoration-line: none;

}
.contents_tab #on{
    border-bottom: 5px solid #0a1645;
   
}
.contents_tab #on a{
    color: #0a1645;
}
#tab_line {
    border-left: 1px solid #7f7f7f;
}

.contents_tab_li:hover {
    border-bottom: 5px solid #0a1645;
}

.contents_tab_li:hover > a {
    color: #0a1645;
}


.sub_content {
    max-width: 1280px;
    padding-bottom: 110px;
    margin: 50px auto 0px;
}

.sub_content_tab {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 30px;
    list-style: none;
}

.sub_content_tab li a {
    display: grid;
    border: 1px solid #d7d7d7;
    font-size: 14px;
    color: #605f5f;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 51%,rgba(237,237,237,1) 100%);
    transition: all 0.3s;
}

.sub_content_tab #active {
    background: #0e3b64;
    color: #fff;
    border: 1px solid #0e3b64;
}

.sub_content_tab li:hover #active, .sub_content_tab li:hover a {
    background: #184d7d;
    color: #fff;
    border: 1px solid #184d7d;
}

.discussion_day {
    border-bottom: 1px solid #b2b2b2;
    padding-bottom: 15px;
    margin-bottom: 35px;
}

.discussion_day_area {
    display: flex;
    justify-content: center;
}

.weeklist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.weeklist li {
    border-right: 2px solid #ccc;
    height: 18px;
    line-height: 18px;
    width: 15%;
}

.weeklist li:last-child {
    border-right: 0px;
}

.day_btn_pre, day_btn_nex {
    width: 16px;
    height: 24px;
    padding: 20px;
    cursor: pointer;
    color: transparent;
    background: transparent;
}
.day_btn_pre {
    background-image: url(../image/discussion_pre.png);
    background-repeat: no-repeat;
    background-position: center;
}

.day_btn_nex {
    background-image: url(../image/discussion_nex.png);
    background-repeat: no-repeat;
    background-position: center;
}
